<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteRule ^users/?$ users.php [QSA]
	RewriteRule ^users\.(xml|json)$ users.php?type=$1 [QSA]
	
	RewriteRule ^users/([0-9]+)/?$ users.php?id=$1&type=json [QSA]
	RewriteRule ^users/([0-9]+)\.(xml|json)$ users.php?id=$1&type=$2 [QSA]
	
	RewriteRule ^users/([0-9]+)/prefs/([0-9]+)$ users.php?id=$1&type=json&mode=prefs&prefId=$2 [QSA]
	RewriteRule ^users/([0-9]+)/prefs/([0-9]+)\.(xml|json)$ users.php?id=$1&type=$3&mode=prefs&prefId=$2 [QSA]
	
	RewriteRule ^users/([0-9]+)/prefs/?$ users.php?id=$1&type=json&mode=prefs [QSA]
	RewriteRule ^users/([0-9]+)/prefs\.(xml|json)$ users.php?id=$1&type=$2&mode=prefs [QSA]
	
	RewriteRule ^networks/?$ networks.php [QSA]
	RewriteRule ^networks\.(xml|json)$ networks.php?type=$1 [QSA]
	
	RewriteRule ^networks/([0-9]+)/?$ networks.php?id=$1&type=json [QSA]
	RewriteRule ^networks/([0-9]+)\.(xml|json)$ networks.php?id=$1&type=$2 [QSA]
	
	RewriteRule ^crownstones/?$ crownstones.php [QSA]
	RewriteRule ^crownstones\.(xml|json)$ crownstones.php?type=$1 [QSA]
	
	RewriteRule ^crownstones/([0-9]+)/?$ crownstones.php?id=$1&type=json [QSA]
	RewriteRule ^crownstones/([0-9]+)\.(xml|json)$ crownstones.php?id=$1&type=$2 [QSA]
</IfModule>
